* {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.runner{
  margin-top: 80px;
  padding-left: 25px;
  padding-right: 25px;
}

.row{
  margin-top: 20px;
  font-weight: bold;
}

.input-field{
  margin-top: 25px;
}

.correct{
  color: rgb(19, 184, 19);
}

.wrong{
  color: rgb(218, 18, 18);
}

.thanks{
  margin-top: 50px;
}

#title{
  margin-top: 50px;
  text-decoration: underline;
}

.page-footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

@media only screen and (max-width: 450px) {
  h3{
    font-size: 30px;
    margin-top: 0px;
  }

  h4{
    font-size: 25px;
  }

  .runner{
    margin-top: 40px;
  }
}
